<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>게시판 by sjy</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .highlight {
        font-weight: bold;
        color: #007bff;
    }
</style>
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div th:if="${session.loginUser != null}">
                <span class="highlight" th:text="${session.loginUser.getNick()}"></span><span>님 환영합니다!!!</span>
            </div>
            <div>
                <button class="btn btn-primary" onclick="location.href='/list'">게시글 목록으로 이동</button>                       
                <button class="btn btn-danger" onclick="location.href='/update'">회원정보 수정</button>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
       	              <select id="categorySelection" th:onChange="categorySelectionChanged(this.value)">
                        </select>
                    </th>
                    <th>글제목</th>
                    <th>작성자</th>
                    <th>작성일시</th>
                    <th>게시글 수정</th>
                    <th>삭제</th>
                </tr>
            </thead>
            <tbody id="allPosts">
            </tbody>
        </table>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    
	showCategory();
	postAll();
    
    function categorySelectionChanged(category) {
        selectedCategory = category;
        if (selectedCategory === "all") {
            postAll(); // 전체 카테고리 선택 시 전체 게시글 호출
        } else {
        	postsByCategoryByUser(selectedCategory); // 다른 카테고리 선택 시 해당 카테고리 게시글 호출
        }
    }
    
    function postAll(){
        var allPosts = document.getElementById('allPosts');
        allPosts.innerHTML = '';
    
        $.ajax({
            type: 'GET',
            url: '/post/find/[[${session.loginUser.getUserid}]]',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
        })
        .done((result)=>{
            var tableBody = '';
            result.forEach(function(item){
                tableBody += '<tr>' +
                    '<td>' + item.category.category_name + '</td>' + 
                    '<td>' + item.title + '</td>' + 
                    '<td>' + item.users.userid + '</td>' + 
                    '<td>' + item.createAt + '</td>' +
                    '<td><button class="btn btn-info" onclick="location.href = \'/post/update/' + item.id + '\'">클릭</button>' +
                    '<td><button class="btn btn-info" onclick="location.href = \'/post/delete/' + item.id + '\'">클릭</button>' +                    
                    '</tr>';
            })
            allPosts.innerHTML = tableBody;
        })
        .fail((error)=>{
            console.log(error);
        });
    }

        
        function showCategory(){
        	let categoryOptions = document.getElementById("categorySelection");
        	categoryOptions.innerHTML = '';
        	
        	$.ajax({
        		type: 'GET',
        		url: '/category/select',
        		dataType: 'json',
        		contentType: 'application/json; charset=utf-8'
        	}).done((result)=>{
        		let options = '';
        			options += '<option selected>카테고리</option>'
        		result.forEach(function(item){
        			options += '<option value="' + item.category_name + '">' + item.category_name + '</option>';
        		})
        		categoryOptions.innerHTML = options;
        	}).fail((error)=>{
        		console.log(error)
        	})
        }
        
        function postsByCategoryByUser(category){
        	console.log("실행 : ", category)
        	let categoryOptions = document.getElementById("allPosts")
        	allPosts.innerHTML = '';
            
            $.ajax({
                type: 'GET',
                url: '/post/findbycategoryanduser/' + category,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
            })
            .done((result)=>{
            	console.log("result", result)
                var tableBody = '';
                result.forEach(function(item){
                    tableBody += '<tr>' +
                        '<td>' + item.category.category_name + '</td>' + 
                        '<td>' + item.title + '</td>' + 
                        '<td>' + item.users.userid + '</td>' + 
                        '<td>' + item.createAt + '</td>' +
                        '<td><button class="btn btn-info" onclick="location.href = \'/post/' + item.id + '\'">클릭</button>' +
                        '</tr>';
                })
                allPosts.innerHTML = tableBody;
            })
            .fail((error)=>{
                console.log(error);
            });
        }
    </script>
    
</body>
</html>
