<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <h2>게시판😎😎</h2>
      	<div th:if="${session.loginUser != null}">
		<span th:text="${session.loginUser.getUserid()}"></span><span>님 환영합니다!!!</span>
		<button type="button" onclick="location.href='/upload'">글작성</button>
		<button type="button" onclick="location.href='/logout'">로그아웃</button>
  <div class="panel panel-default">
    <div class="panel-heading">게시판</div>
	</div>
    <div class="panel-body">
    	<table class="table table-bordered">
    		<tr>
    			<td>번호</td>
    			<td th:text="${post.id}"></td>
    		</tr>
    		<tr>
    			<td>카테고리</td>
    			<td th:text=${post.category.category_name}></td>
    		</tr>
    		<tr>
    			<td>제목</td>
    			<td th:text="${post.title}"></td>
    		</tr>
    		<tr>
    			<td>내용</td>
    			<td th:text="${post.contents}"></td>
    		</tr>
    		<tr>
    			<td>작성자</td>
    			<td th:text="${post.users.nick}"></td>
    		</tr>
    		<tr>
    			<td>작성일</td>
    			<td th:text="${post.createAt}"></td>
    		</tr>
    		<tr>
    			<td>이미지</td>
    			<td></td>
    		</tr>
    		<tr>
    			<td colspan="2" align="center">
    				<button onClick="location.href='/list'" class="btn btn-sm btn-success">리스트</button>    			
    			</td>
    		</tr>
    	</table>
    
    </div>
    <div class="panel-footer"></div>
  </div>
</div>
</body>
</html>
