<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판😎😎</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2 class="text-center">게시판😎😎</h2>
        <div class="row">
            <div class="col-md-12">
                <div th:if="${session.loginUser != null}">
                    <p class="lead">
                        <span th:text="${session.loginUser.getNick()}"></span><span>님 환영합니다!!!</span>
                        <button class="btn btn-primary" onclick="location.href='/upload'">글작성</button>
                        <button class="btn btn-danger" onclick="location.href='/logout'">로그아웃</button>
                    </p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">게시판</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <td>번호</td>
                                <td th:text="${post.id}"></td>
                            </tr>
                            <tr>
                                <td>카테고리</td>
                                <td th:text="${post.category.category_name}"></td>
                            </tr>
                            <tr>
                                <td>제목</td>
                                <td th:text="${post.title}"></td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td th:text="${post.contents}"></td>
                            </tr>
                            <tr>
                                <td>작성자</td>
                                <td th:text="${post.users.nick}"></td>
                            </tr>
                            <tr>
                                <td>작성일</td>
                                <td th:text="${post.createAt}"></td>
                            </tr>
                            <tr>
                                <td>첨부파일(클릭시 다운)</td>
                                <td><a th:if="${post.file}" th:href="|/attach/${post.id}|" th:text="${post.file.uploadFilename}"/></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <button onClick="location.href='/list'" class="btn btn-sm btn-success">리스트</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
				<div class="panel panel-default">
                    <div class="panel-heading">댓글</div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                        	<thead>
                            <tr>
                                <td>작성자</td>
                                <td>내용</td>
                                <td>작성일</td>
                            </tr>
                            </thead>
                            <tbody id="allComments">
                            </tbody>
                             <tr>
                                <td th:text="${session.loginUser.getNick()}"></td>
                                <td><input type="text" name="comment" id="comment"><button th:onClick="submitComment([[${post}]])">작성</button></td>
                            </tr>
                           
                        </table>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    
    showAllComments()
    
    function submitComment(post){
    	var comment = document.getElementById('comment').value
    	
    	$.ajax({
    		type: 'POST',
    		url: '/comment/add',
    		contentType: 'application/json',
    		dataType : "json",
    		data: JSON.stringify({
    			comment: comment,
    			post: post
    		}),
    	})
    	.done((result)=>{
    	})
    	.fail((error)=>{
    		console.log(error);
    	});
    }
    
    function showAllComments(){
    	
    	let comments = document.getElementById("allComments")
    	comments.innerHTML = '';
    	
    	$.ajax({
    		type: 'GET',
    		url: '/comment/[[${post.id}]]',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
    	})
    	.done((result)=>{
    		console.log("result", result)
    		var commentBody = '';
    		result.forEach(function(item){
    			commentBody += '<tr>' +
    				'<td>' + item.users.nick + '</td>' + 
    				'<td>' + item.comment + '</td>' +
    				'<td>' + item.createAt + '</td>'
    			+ '</tr>';
    		})
    		comments.innerHTML = commentBody;
    		
    	})
    	.fail((error)=>{
    		console.log("error", error);
    	});
    }
    
    </script>
    
</body>
</html>
