<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>[조인트리X스마트인재개발원] SW캠프</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<body>
    <h2>회원가입 폼</h2>
    <form action="/user/add" method="post" >
        <label for="username">아이디:</label>
        <input type="text" id="username" name="userid" required><br>

        <label for="password">비밀번호:</label>
        <input type="password" id="password" name="userpw" required><br>

        <label for="nickname">닉네임:</label>
        <input type="text" id="nickname" name="nick" required><br>

        <input type="submit" value="가입">
    </form>
</body>
</html>
</body>
</html>